* {
  margin: 0;
  padding: 0;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.logo img {
  width: 600px;
}

.content p {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 2.15rem;
  color: white;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#teffee_logo {
   font-family: 'Shrikhand', cursive;
   font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
